##### .gitignore

### Output
*.[aod]
*.so
*.pcm
*_C_ACLiC_dict.cxx
*_C_ACLiC_linkdef.h
*_C_ACLiC_map.in
*_C_ACLiC_map.out

### Temp
*~
.*~
\#*\#
.\#*\#
*.swp
.*.swp

### File
*.dat
*.dat.gz
*.root
*.log
*.pdf

### Dir
backup/
bin/
build/
lib/
